h2 {
  color: white;
}

ul {
  padding: 15px;
  color: #BDD095;
  list-style-type: square;
}

.purchased {
  text-decoration: line-through;
}

body {
  background: url(/Users/RockysMac/Documents/GitHub/git/hrext04-my-cruddy-app/coffee.jpg);
  background-size: cover;
}

#addItem {
  background: #A3ADB8;
}

h3 {
  color: white;
}

.deleteItem {
  background: #A3ADB8;
}

.purchasedItem {
  background: #A3ADB8;
}

